body {
  /*background-color: #ccc;
  background-image: url("img/fondo.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
  background-attachment: fixed;*/
  color: black;
}

#caja {
  border: 5px solid black;
  padding: 10px;
  background-color: rgb(81, 109, 235);
  color: white;
  text-align: center;
  line-height: 20px;
}
