* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#general {
  width: 1200px;
  margin: 0px auto;
  margin-top: 20px;
}

#cabecera {
  width: 100%;
  height: 100px;
  background-color: rgb(0, 149, 255);
  color: white;
  text-align: center;
  line-height: 90px;
}

#menu {
  background-color: #eee;
}

.limpiar{
  float: none;
  clear: both;
}

#menu ul li {
  /*display: inline-block;*/
  display: block;
  float: left;
  border-right: 1px solid #ccc;
}

#menu ul li a {
  display: block;
  padding: 15px;
  color: #444;
}

#menu ul li:hover {
  background: rgb(13, 85, 137);
}

#menu ul li:hover a {
  color: white;
}
